body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 3px 14px;
}

.title {
  background: #e3f4ff;
  font-size: 24px;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
  padding: 15px 10px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;

}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}